@using Lab02.Domain.Models
@model ICollection<Record>
@{
    ViewBag.Title = "Telephone Number Storage";
    var addActionUrl = Url.Action("Add", "Dict");
}
<div class="layout__records records table-responsive">
    <table class="table table-bordered align-middle">
        <thead>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Number</th>
            <th scope="col" style="text-align: center">Edit</th>
            <th scope="col" style="text-align: center">Delete</th>
        </thead>
        <tbody>
            @foreach (var record in Model)
            {
                @Html.Partial("Record", record)
            }
        </tbody>
    </table>
</div>
<div class="layout__actions">
    <button class="layout__btn btn btn-outline-primary"
            onclick="window.location.href = '@addActionUrl'">
        Добавить
    </button>
</div>