@{
    ViewBag.Title = "FIE - TM";
}

<div class="row">
    <div class="col">
        <h2>FIE - TM</h2>
        <p>
            FM TM
        </p>
        <p>
            @Html.ActionLink("FIE/Index", "Index", "FIE")
        </p>
    </div>
</div>