@{
    ViewBag.Title = "FIE - UP";
}

<div class="row">
    <div class="col">
        <h2>FIE - UP</h2>
        <p>
            FM UP
        </p>
        <p>
            @Html.ActionLink("FIE/Index", "Index", "FIE")
        </p>
    </div>
</div>