@{
    ViewBag.Title = "FIE - UR";
}

<div class="row">
    <div class="col">
        <h2>FIE - UR</h2>
        <p>
            FM UR
        </p>
        <p>
            @Html.ActionLink("FIE/Index", "Index", "FIE")
        </p>
    </div>
</div>