@{
    ViewBag.Title = "FIE - Index";
}

<div class="row">
    <div class="col">
        <h2>FIE - Index</h2>
        <p>
            фие
        </p>
        <ul>
            <li>@Html.ActionLink("FIE/FIE_TM", "FIE_TM", "FIE")</li>
            <li>@Html.ActionLink("FIE/FIE_UR", "FIE_UR", "FIE")</li>
            <li>@Html.ActionLink("FIE/FIE_UP", "FIE_UP", "FIE")</li>
            <li>@Html.ActionLink("BSTU/Index", "Index", "BSTU")</li>
        </ul>
    </div>
</div>