@{
    ViewBag.Title = "FIT - PI";
}

<div class="row">
    <div class="col">
        <h2>FIT - PI</h2>
        <p>
            ???
        </p>
        <p>
            @Html.ActionLink("FIT/Index", "Index", "FIT")
        </p>
    </div>
</div>