@{
    ViewBag.Title = "FIT - ID";
}

<div class="row">
    <div class="col">
        <h2>FIT - ID</h2>
        <p>
            Hello @User.Identity.Name
        </p>
        <p>
            @Html.ActionLink("FIT/Index", "Index", "FIT")
        </p>
    </div>
</div>