@{
    ViewBag.Title = "FIT - IS";
}

<div class="row">
    <div class="col">
        <h2>FIT - IS</h2>
        <p>
            IIS
        </p>
        <p>
            @Html.ActionLink("FIT/Index", "Index", "FIT")
        </p>
    </div>
</div>