@{
    ViewBag.Title = "FIT - Index";
}

<div class="row">
    <div class="col">
        <h2>FIT - Index</h2>
        <p>
            FIT the best
        </p>
        <ul>
            <li>@Html.ActionLink("FIT/FIT_IS", "FIT_IS", "Fit")</li>
            <li>@Html.ActionLink("FIT/FIT_PI", "FIT_PI", "Fit")</li>
            <li>@Html.ActionLink("FIT/FIT_ID", "FIT_ID", "Fit")</li>
            <li>@Html.ActionLink("BSTU/Index", "Index", "BSTU")</li>
        </ul>
    </div>
</div>