@{
    ViewBag.Title = "BSTU - Config";
}

<div class="row">
    <div class="col">
        <h2>BSTU - Config</h2>
        <p>
            This is very dangerous to touch
        </p>
    </div>
</div>