<div class="layout__records records">
    {{#each records}}
        {{>record}}
    {{/each}}
</div>
<div class="layout__actions">
    <button class="layout__btn btn btn-outline-primary" onclick="window.location.href = '/Add'">Добавить</button>
</div>