<a class="records__record {{#if @root.isRecordsDisabled}}records__record_disabled{{/if}}" onclick="window.location.href = '/Update?id={{id}}'">
    <span class="records__full-name">{{fullName}}: </span>
    <span class="records__phone-number">{{phoneNumber}}</span>
</a>