@{
    ViewBag.Title = "FLT - LZ";
}

<div class="row">
    <div class="col">
        <h2>FLT - LZ</h2>
        <p>
            FLT - LZ
        </p>
        <p>
            @Html.ActionLink("FLT/Index", "Index", "FLT")
        </p>
    </div>
</div>