@{
    ViewBag.Title = "FLT - LV";
}

<div class="row">
    <div class="col">
        <h2>FLT - LV</h2>
        <p>
            LV
        </p>
        <p>
            @Html.ActionLink("FLT/Index", "Index", "FLT")
        </p>
    </div>
</div>