@{
    ViewBag.Title = "FLT - LU";
}

<div class="row">
    <div class="col">
        <h2>FLT - LU</h2>
        <p>
            FLT - LU
        </p>
        <p>
            @Html.ActionLink("FLT/Index", "Index", "FLT")
        </p>
    </div>
</div>