@{
    ViewBag.Title = "FLT - Index";
}

<div class="row">
    <div class="col">
        <h2>FLT - Index</h2>
        <p>
            flex
        </p>
        <ul>
            <li>@Html.ActionLink("FLT/FLT_LV", "FLT_LV", "FLT")</li>
            <li>@Html.ActionLink("FLT/FLT_LU", "FLT_LU", "FLT")</li>
            <li>@Html.ActionLink("FLT/FLT_LU", "FLT_LU", "FLT")</li>
            <li>@Html.ActionLink("BSTU/Index", "Index", "BSTU")</li>
        </ul>
    </div>
</div>